.mainFavorites {
  h1 {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: $main-font;
    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
  .emptyBox {
    min-height: 63vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(220, 216, 216, 0.754);
    border-radius: 10px;
    h2 {
      flex-grow: 1;
      display: block;
      text-align: center;
      color: $gray-Stonewall;
      font-size: 1rem;
      letter-spacing: 2px;
    }
  }
}
